.container {
	h3 {
		margin-top: 1rem;
	}
	ul {
		list-style: none;
		li {
			display: flex;
			flex-direction: row;
			span {
				white-space: nowrap;
				margin-right: 1rem;
				&:nth-child(1) {
					flex: 0 0 300px;
				}
				&:nth-child(2) {
					flex: 0 0 200px;
				}
				&:nth-child(3) {
					flex: 0 0 50px;
				}
			}
		}
	}
	.notfound {
		color: red;
	}
}

.error {
	color: red;
}
