.container {
	h3 {
		margin-top: 1rem;
	}
	ul {
		list-style: none;
		li {
			display: flex;
			flex-direction: row;
			span:nth-child(1) {
				flex: 0 0 200px;
			}
		}
	}
	.notfound {
		color: red;
	}
}

.error {
	color: red;
}
