.container {
	padding: 1rem;
	.dropzone {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;

		.wrap {
			--color: rgb(197, 197, 197);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border: 5px solid var(--color);
			color: var(--color);
			border-radius: 10px;
			height: 50vh;
			width: 50vw;
			padding: 2rem;
			cursor: pointer;
		}
	}
}
