.informationSection {
	display: flex;
	flex-direction: row;
	padding-bottom: $small-margin;

	.textWrap {
		z-index: 1;
	}

	.info {
		@include mq($from: tablet) {
			z-index: 2;
			position: absolute;
			width: spanGrid(12);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}

		h1 {
			@include mq($from: tablet) {
				padding: 0.5em;
				@include h1Big();
			}
		}

		.getintouch {
			display: flex;
			flex-wrap: wrap;

			@include mq($from: tablet) {
				z-index: 3;

				width: 100%;
				flex-direction: row;
				justify-content: space-between;
				padding: 2em;
				margin-bottom: $small-margin;
			}

			& > div {
				@include mq($until: tablet) {
					width: 50%;
				}
			}

			p,
			div,
			a {
				color: $white;
				//width: 33%;
			}

			p {
				margin-bottom: 0;
			}
		}

		button {
			margin-top: 1em;
			//border-color: $black;
			cursor: pointer;
			@include mq($until: tablet) {
				width: 100%;
				margin-top: 1em;
			}
		}
	}

	.imageWrap {
		@include mq($until: tablet) {
			display: none;
		}
		width: 100%;
		@include mq($from: tablet) {
			mix-blend-mode: screen;
			.image {
				width: spanGrid(12);
				max-width: 100% !important;
				position: relative;
			}
			.fade {
				height: 30%;
				position: absolute;
				width: spanGrid(12);
				max-width: 100% !important;
				z-index: 1;
				bottom: $small-margin;
				background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(0, 0, 0));
			}
		}
	}
}

.staffSection {
	flex-direction: column;
	padding-bottom: $margin;

	h1 {
		padding-top: $small-margin;
		border-top: 1px solid $white;
	}

	.staff {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex: 1 1 100%;

		.employee {
			display: flex;
			flex-direction: column;
			width: 48%;
			margin-right: 4%;
			@include mq($until: tablet) {
				@include resetLastColumn(2);
			}

			@include mq($from: tablet) {
				width: spanNestedGrid(12, 3);
				margin-right: nestedGridGutter(12);
				@include resetLastColumn(4);
			}

			.image {
				margin-bottom: 0.5em;

				display: flex;

				img,
				picture {
					object-fit: cover;
					aspect-ratio: 4 / 3;
				}
			}
		}
	}
}

.showroomsSection {
	flex-direction: column;
	flex: 0 0 100%;
	padding-top: $margin;
	padding-bottom: $margin;
	background-color: $black;

	h1 {
		color: $beige;
	}

	.intro {
		color: $white;
		@include mq($from: tablet) {
			width: 70%;
		}
		padding-bottom: 1.5em;
	}

	.showroom {
		display: flex;
		flex-direction: row;
		flex: 0 0 100%;
		position: relative;
		@include mq($until: tablet) {
			flex-wrap: wrap;
			.left,
			.right {
				width: 100%;
			}
		}

		a {
			color: $white;
		}

		&:nth-child(even) {
			flex-direction: row-reverse;

			.left {
				padding-right: 0em;
				@include mq($until: tablet) {
					padding-top: 1em;
				}
			}

			.right {
				padding-right: 1em;
				padding-left: 0;
				padding-top: 1em;
			}
		}

		.left {
			position: relative;
			@include mq($until: tablet) {
				padding-top: 1em;
			}
			@include mq($from: tablet) {
				flex: 0 0 50%;
				padding-left: 0em;
			}
		}

		.right {
			position: relative;
			@include mq($until: tablet) {
				padding-top: 1em;
			}
			@include mq($from: tablet) {
				flex: 0 0 50%;
				padding-left: 1em;
				padding-top: 1em;
			}
		}
	}

	.text {
		color: $white;
	}

	h2 {
		color: $beige;
	}
}

.distributorSection {
	display: flex;
	flex-direction: column;
	padding-top: $margin;
	padding-bottom: $margin;
	background-color: $beige;

	h2 {
		color: $white;
	}

	.distributors {
		display: flex;
		position: relative;
		flex-direction: row;
		flex-wrap: wrap;
		flex: 1 1 100%;

		.distributor {
			@include mq($from: tablet) {
				width: spanNestedGrid(12, 4);
				margin-right: nestedGridGutter(12);
				@include resetLastColumn(3);
				margin-bottom: 1em;
			}
		}
	}

	@include mq($until: tablet) {
		.distributors {
			.distributor {
				width: 48%;
				margin-right: 4%;
				@include resetLastColumn(2);

				P {
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
		}
	}
}

.resellerSection {
	display: flex;
	flex-direction: column;
	padding-top: $margin;
	padding-bottom: $margin;
	background-color: $black;

	h1 {
		color: $white;
	}

	.resellers {
		display: flex;
		position: relative;
		flex-direction: column;
		flex: 1 1 100%;

		.country {
			display: flex;
			flex-direction: column;
			color: $white;

			.wrap {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				position: relative;

				.reseller {
					padding-bottom: 0.5em;

					@include mq($from: tablet) {
						width: spanNestedGrid(12, 4);
						margin-right: nestedGridGutter(12);
						@include resetLastColumn(3);
					}

					@include mq($until: tablet) {
						width: spanNestedGrid(12, 6);
						margin-right: nestedGridGutter(12);
						@include resetLastColumn(2);
					}

					p {
						text-overflow: ellipsis;
						overflow: hidden;
					}

					.name {
						color: $beige;
					}

					a {
						color: $white;
					}
				}
			}
		}
	}
}
