.designer {
	width: 100%;

	header {
		display: flex;
		position: relative;
		height: 100vh;
		width: 100%;

		.artist {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 5%;
			margin-top: 0.5rem;

			@include mixin.mq($until: tablet) {
				padding-bottom: var(--small-margin);
			}

			@include mixin.mq($from: tablet) {
				margin-top: 4rem;
			}

			max-width: 50%;

			h1 {
				left: 1em;

				@include mixin.mq($from: tablet) {
					margin-bottom: 0.5em !important;
				}

				@include mixin.h1Big();
				color: var(--white);
			}

			.description {
				span {
					color: var(--white);
				}
			}
		}

		figure {
			position: relative;
			flex: 0 0 50%;
			height: 100%;
			mix-blend-mode: screen;

			img {
				object-fit: cover;
				height: 100vh;
				width: 100%;
			}

			.fade {
				background-image: linear-gradient(to top, rgba(27, 91, 68, 0), rgba(27, 91, 68, 0.4));
				height: 10rem;
				width: 100%;
				position: absolute;
				z-index: 1;
				mix-blend-mode: multiply;
			}

			figcaption {
				position: absolute;
				display: none;
				bottom: 0;
				margin: var(--outer-margin);

				h1 {
					width: 100%;
				}
			}

			div>img[role="presentation"] {
				//height: 100vh;
			}
		}
	}

	@include mixin.mq($until: tablet) {
		header {
			flex-direction: column-reverse;
			height: auto;

			.artist {
				max-width: 100%;
			}

			figure {
				min-height: 60vh;

				img {

					height: 60vh;

				}

				figcaption {
					display: none;
				}
			}
		}
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.products,
.otherDesigners {
	padding-top: var(--margin);
	padding-bottom: var(--small-margin);
	display: flex;
	flex-direction: row;

	h1 {
		min-width: mixin.spanGridWithGutter(4);
	}

	.gallery {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		min-width: mixin.spanGrid(12);
	}

	@include mixin.mq($until: tablet) {
		flex-direction: column;

		h1 {
			width: 100%;

			br {
				content: " ";
				display: none;
			}
		}

		.gallery {
			min-width: mixin.spanGrid(16);

			ul {
				li {
					min-width: 48%;
				}
			}
		}
	}
}

.products {
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		list-style: none;

		li {
			@include mixin.mq($until: tablet) {
				width: 48%;
				min-width: 48%;

				@include mixin.resetLastColumn(2);
				margin-right: 4%;
			}

			@include mixin.mq($from: tablet) {
				width: mixin.spanNestedGrid(12, 3);
				@include mixin.resetLastColumn(4);
			}

			margin-right: mixin.nestedGridGutter(12);
			margin-bottom: 2rem;
			overflow: hidden;
		}
	}
}

.otherDesigners {
	padding-bottom: var(--margin);

	@include mixin.mq($until: tablet) {
		overflow-x: hidden;
	}
}