.bespoke {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .image {
    position: relative !important;
    min-height: 100vh;
    width: 100vw;
  }
  h1 {
    @include h1Big();
    position: absolute;
    left: 0;
    word-break: break-all;
    padding-left: 1em;
    padding-right: 1em;
    color: $white;
    bottom: auto;
    top: calc(50vh - 1em);
    text-align: center;
    width: 100%;
  }
}

.intro {
  display: flex;
  flex-direction: row;
  color: $white !important;
  padding-top: 2rem;

  p {
    margin-bottom: 0;
  }

  h1 {
    @include mq($until: tablet) {
      display: none;
    }
    color: $black;
    flex: 0 0 spanGridWithGutter(4);
    @include h1Small();
  }
  .text {
    @include mq($until: tablet) {
      padding-bottom: 2em;
    }
    @include mq($from: tablet) {
      padding-right: 20%;
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;

  .project {
    display: flex;
    flex-direction: row;
    margin-top: 1em;

    @include mq($from: tablet) {
      margin-top: $margin;
    }
    @include mq($until: tablet) {
      flex-wrap: wrap;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      .description {
        align-items: flex-start;
        padding-left: 0;
        @include mq($from: tablet) {
          padding-right: var(--outer-margin);
        }
        .text {
          text-align: left;
        }
      }
    }
    .image {
      @include mq($until: tablet) {
        margin-bottom: 1em;
      }
      @include mq($from: tablet) {
        flex: 0 0 spanGrid(12);
      }
      cursor: pointer;
      .big {
      }
    }
    .description {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @include mq($from: tablet) {
        padding-left: var(--outer-margin);
      }

      .text {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        //text-align: right;
      }
      .thumbnail {
        width: 100%;
        @include mq($until: tablet) {
          display: none;
        }
      }
    }
  }
}

.outro {
  color: $white !important;
  @include mq($from: tablet) {
    margin-top: 2rem;
  }

  .text {
    @include mq($from: tablet) {
      margin-left: spanGridWithGutter(4);
      margin-right: spanGrid(4);
    }
  }
}

.more {
  margin-top: 2rem;
  button {
    color: $white;
    cursor: pointer;
    width: 100%;
    @include mq($from: tablet) {
      width: spanGrid(8);
      margin-right: spanGrid(4);
      margin-left: spanGridWithGutter(4);
    }
  }
}

.innerWrap {
  padding-left: var(--outer-margin) !important;
  padding-right: var(--outer-margin) !important;
}
