.bespoke{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .image{
    position: relative !important;
    min-height: 100vh;
    widh: 100vw;
  }
  .intro{
    display: flex;
    flex-direction: row;
    h1{
      color:$black;  
    }
    color:$white;
  }
  section{
    .project{
      max-width: 25%;
    }
  }
}
