.introduction {
  padding-bottom: $small-margin;
}

.intro {
  width: 80%;
  color: white;
  p {
    margin-bottom: 0;
  }
}

.materials {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: $small-margin;

  h1 {
    width: 100%;
  }
}

.material {
  
  margin-bottom: 1rem;
  margin-right: nestedGridGutter(12);

  figure {
    background-color: $gray  !important;
  }

  @include mq($from: tablet){
    
    width: spanNestedGrid(12, 3);
    @include resetLastColumn(4);
  }
  @include mq($until: tablet){
    width: spanNestedGrid(12, 6);
    @include resetLastColumn(2);
  }
}