.intro {
  @include mq($from: tablet) {
    width: 80%;
  }
}

.related {
  position: relative;
  display: flex;
  flex-direction: column;

  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $gutter 1em $gutter 1em;
    background-color: $mid-gray;
    margin-bottom: 1em;


    img {
      max-width: 18px;
      margin-right: .5rem;
    }

    input {
      margin: 0;
      margin-bottom: $gutter;
      background-color: transparent;
      border: 0;
      outline: none;
      margin: 0;
      width: 100%;
    }
  }

  table {

    tbody {
      tr {
        margin-top: .2em;
        padding-bottom: 2em;

        &:hover:not(:first-child) {
          background-color: $white !important;
        }

        &.active {
          td {
            background-color: $white !important;
            padding-bottom: 0em;
          }
        }

        th {
          text-align: left;
          color: $white;
          padding-bottom: .6em;

          &:nth-child(2) {
            padding-left: 1em;
          }
        }

        td {
          padding: 0;
          padding-top: .8em;
          padding-bottom: .8em;
          border-top: 1px solid $white;
          white-space: pre;
          cursor: pointer;
          vertical-align: middle;

          &:first-child {
            width: 2em;
            max-width: 2em;
            min-width: 2em;
            padding-left: 1em;
          }

          &:nth-child(2) {
            padding-left: 1em;
            width: 20%;
          }

        }

        td.toggle {
          text-align: center;
          vertical-align: middle;
          width: 60px;
        }

        td.content {
          background-color: $white;

          .list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 1.8em;
            border-top: 1px solid $black;

            .item {
              display: flex;
              flex-direction: row;
              align-items: center;
              flex: 0 0 50%;
              padding-top: .5em;
              padding-bottom: .5em;

              a {
                flex: 1 1 auto;
                padding-right: 1em;
              }
            }

            hr {

              min-height: 1px;
              max-height: 1px;
              margin: 0;
              width: 100%;
              background-color: $black;
              border: 0;

              &.hide {
                display: none;
              }

            }
          }
        }
      }
    }

    *>.image {
      position: relative !important;
      margin: 0 !important;
      aspect-ratio: 1, 1;
      height: 2em;
      mix-blend-mode: multiply;
      display: flex;

      img {
        object-fit: contain;
      }
    }
  }

}