.intro {
	@include mq($from: desktop) {
		width: 80%;
	}
}

.related {
	position: relative;
	display: flex;
	flex-direction: column;

	.search {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0.5em 1em 0.5em 1em;

		@include mq($from: tablet) {
			padding: var(--gutter) 1em var(--gutter) 1em;
		}

		background-color: var(--mid-gray);
		margin-bottom: 1em;

		img {
			max-width: 14px;
			margin-right: 0.5rem;
		}

		input {
			margin: 0;
			margin-bottom: var(--gutter);
			background-color: transparent;
			border: 0;
			outline: none;
			margin: 0;
			width: 100%;
		}
	}

	table {
		tbody {
			tr {
				margin-top: 0.2em;
				padding-bottom: 2em;

				&:not(:first-child) {
					cursor: pointer;
				}

				@include mq($from: tablet) {
					&:hover:not(:first-child) {
						background-color: var(--white) !important;
					}
				}

				&.active {
					td {
						background-color: var(--white) !important;
						padding-bottom: 0em;
					}
				}

				th {
					text-align: left;
					color: var(--white);
					padding-bottom: 0.6em;

					&:first-child {
						width: 2em;
						max-width: 2em;
						min-width: 2em;
						padding-left: 1em;
					}
					&:nth-child(2) {
						padding-left: 1em;
						min-width: 120px;
					}
				}

				td {
					padding: 0;
					padding-top: 0.8em;
					padding-bottom: 0.8em;
					border-top: 1px solid var(--white);
					white-space: pre;
					vertical-align: middle;
					&:first-child {
						width: 2em;
						max-width: 2em;
						min-width: 2em;
						padding-left: 1em;
					}

					&:nth-child(2) {
						padding-left: 1em;
						width: 20%;
					}
					&:nth-child(3) {
						overflow: hidden;
						text-overflow: ellipsis;
						width: 100%;
						max-width: 1px;
					}
				}

				td.toggle {
					text-align: center;
					vertical-align: middle;
					width: 60px;
				}

				td.content {
					background-color: var(--white);

					.list {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						margin-bottom: 1.8em;
						border-top: 1px solid var(--black);

						.item {
							display: flex;
							flex-direction: row;
							align-items: center;
							flex: 0 0 50%;
							padding-top: 0.5em;
							padding-bottom: 0.5em;

							a {
								flex: 1 1 auto;
								padding-right: 1em;
							}
						}

						hr {
							min-height: 1px;
							max-height: 1px;
							margin: 0;
							width: 100%;
							background-color: var(--black);
							border: 0;

							&.hide {
								display: none;
							}
						}
					}
				}
			}
		}

		* > .image {
			position: relative !important;
			margin: 0 !important;
			aspect-ratio: 1, 1;
			height: 2em;
			mix-blend-mode: multiply;
			display: flex;

			img {
				object-fit: contain;
			}
		}
	}

	.noMatches {
		margin-bottom: 1rem;
	}
}
