$pageWidth: 210mm;
$pageHeight: 297mm;
$padding: 20mm;

section.page {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 0;
  height: $pageHeight;
  width: $pageWidth;
  max-width: $pageWidth;
  max-height: $pageHeight;
  page-break-after: always;
  flex-wrap: wrap;
  //border: 0.01mm solid black;
  align-items: flex-start;

  &.autoHeight {
    height: auto;
    max-height: none;
  }

  h1 {
    text-transform: capitalize;
    font-size: 52pt !important;
    line-height: 1;
  }

  h2 {
    text-transform: capitalize;
    font-size: 36px;
    text-align: center;
    padding-bottom: 1em;
  }

  h3 {
    font-family: "Fakt";
    letter-spacing: 1px;
    font-size: 16px;
  }

  span {
    text-transform: Capitalize;
    font-size: 10pt;
    line-height: 1;
  }

  p {
    font-size: 18px;
  }

  p.small {
    font-size: 15px;
  }
}
