.productGrid {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20mm;
  padding-right: 20mm;

  header {
    padding-top: 20mm;
    padding-bottom: 10mm;
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;

    h1 {
      text-align: left;
    }

    p {
      font-size: 15px !important;
      width: 40%;
      display: flex;
      align-items: flex-end;
      margin-bottom: 0.5em;
    }
  }

  .product {
    width: calc(20% - 1em);
    padding-bottom: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    flex-wrap: wrap;

    p {
      padding-top: 1em;
      width: 100%;
    }
  }
}
