.table {
  width: 100%;
  border-top: 1px solid black;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 13px;

  table {
    width: 100%;
  }

  td {
    vertical-align: middle;
  }

  td:first-child {
    min-width: 30mm;
  }

  td:nth-child(2) {
    width: 70%;
  }

  td:last-child {
    width: 35mm;
  }

  td.title {
    line-height: 1.3;
  }

  td.name {
    color: gray !important;
    font-family: "FaktBold";
  }

  tr.space {
    height: 10px;
  }

  strong {
    font-family: "FaktBold";
  }

  img {
    max-height: 50px;
    width: auto;
  }
}
