.file {
	.current,
	.new {
		margin-top: 1em;
	}

	.note {
		color: gray;
	}
	.apply {
		display: flex;
		flex-direction: row;
		button {
			margin-right: 0.5em;
		}
	}
	button {
		cursor: pointer;
		&[disabled] {
			cursor: not-allowed;
			pointer-events: none;
			opacity: 0.97;
		}
	}
}

.generate {
	padding-top: 1em;
}

.error {
	color: red;
	max-width: 50%;
}
