.container {
	h3 {
		border-top: 1px solid black;
		margin-top: 1rem;
		padding-top: 0.75em;
		padding-bottom: 1em;
	}
	ul {
		list-style: none;
		li {
			display: flex;
			flex-direction: row;
			span {
				white-space: nowrap;
				margin-right: 1rem;

				&:nth-child(1) {
					flex: 0 0 15ch;
				}
				&:nth-child(2) {
					flex: 0 0 30ch;
				}
				&:nth-child(3) {
					flex: 0 0 30ch;
				}
			}
		}
	}
	.notfound {
	}
}

.error {
	color: red;
}
