.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: spanGrid(12);
  margin-top: $navbarHeight;
  margin-right: var(--outer-margin);
  margin-left: calc(#{spanGridWithGutter(4)} + var(--outer-margin));
  overflow-x: hidden;
  
  &.full{
    margin: 0px;
    width: 100%;
  }
}
