.logo {
  position: fixed;
  display: flex;
  align-items: center;
  top:0;
  left: var(--outer-margin);
  z-index: 300;
  max-height: $navbarHeightMobile;
  min-height: $navbarHeightMobile;
  
  img{
    min-height: 38px;
    max-height: 38px;
  }
  &.inverted {
    filter: invert(1);
  }
  @include mq($from: tablet) {
    display: none;
  }
}

.hamburger {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  right: calc(var(--outer-margin) - 8px);
  max-height: $navbarHeightMobile;
  min-height: $navbarHeightMobile;
  color: #000;
  z-index: 300;
  @include mq($from: tablet) {
    display: none;
  }
}

.mobileMenu {
  position: fixed;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 200;
  overflow: hidden;
  padding-top: calc($navbarHeightMobile);

  @include mq($from: tablet) {
    display: none;
  }

  &.open {
    background-color: $black;
    height: 100vh;
  }  
  &.hide {
    display: none;
  }
  .main {
    padding-left: $small-margin;
    margin-top: $small-margin;
    flex: 1 1 auto;
    &.hide {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;

      li {
        cursor: pointer;
        color: $white;
        font-size: 1rem;
        line-height: 2.5rem;
        transition: color .3s ease;

        &.inactive {
          color: $gray;
        }
      }
    }
  }
  .footer{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: $small-margin;
    .search{
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 0 0 60%;
      img{
        filter: invert(1);
        max-height: 20px;
      }
      input{
        appearance: none;
        box-shadow: none;
        border: 0;
        outline: none;
        color: $white;
        background-color: transparent;
        margin-left: 10px;
        font-size: 26px;
        width: 100%;
        margin-right: 10px;
      }
    }
    .social{
      display: flex;
      flex: 0 0 40%;

      justify-content: space-between;
      img{
        max-height: 20px;
      }
    }
  }
}

.sub {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 80vw;
  min-height: 100vh;
  max-height: 100vh;
  max-width: calc(100vw - 100px);
  z-index: 400;
  background-color: $black;
  transition: transform .3s ease;
  transform: translateX(0vw);
  padding-left: 2rem;
  font-size: 18px;

  &.hide {
    transform: translateX(100%);
  }

  .subHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $gray;
    min-height: $navbarHeightMobile;
    
    .title{
      margin: 0;
      padding: 0;
      flex: 1 1 auto;
    }
    .back {
      cursor: pointer;
      font-size: 1rem;
      color: $white;
      margin-right: $small-margin;
    }
  }

  ul {
    margin-top: $small-margin;
    list-style: none;
    min-height: calc(100vh - calc($small-margin * 4));
    max-height: calc(100vh  - calc($small-margin * 4));
    overflow-y: auto;

    a {
      color: $white;

      li {
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}