.logo {
  position: fixed;
  display: flex;
  align-items: center;
  top:0;
  left: var(--outer-margin);
  z-index: 300;
  max-height: $navbarHeightMobile;
  min-height: $navbarHeightMobile;
  
  img{
    min-height: 36  px;
    max-height: 36px;
  }
  &.inverted {
    filter: invert(1);
  }
}

.hamburger {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  margin-right: calc(var(--outer-margin) - 12px);
  max-height: $navbarHeightMobile;
  min-height: $navbarHeightMobile;
  color: #000;
  z-index: 300;
}

.mobileMenu {
  position: fixed;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  max-height: calc(100vh - calc(100vh - 100%));
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 200;
  padding-top: calc($navbarHeightMobile);
  transition: max-height .3s ease;

  &.open {
    background-color: $black;
    height: 100%;
  }  
  &.hide {
    display: none;
  }
  .main {
    padding-left: var(--outer-margin);
    margin-top: var(--outer-margin);
    flex: 1 1 auto;
    &.hide {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;

      li {
        cursor: pointer;
        color: $white;
        font-size: 1rem;
        line-height: 2.5rem;
        transition: color .3s ease;

        &.inactive {
          color: $gray;
        }
        &.selected{
          font-weight: bold;
        }
      }
    }
  }
  .footer{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: var(--outer-margin);
    padding-bottom: calc(var(--outer-margin) * 1);
    .search{
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 0 0 spanGridWithGutter(10);
      img{
        filter: invert(1);
        max-height: 20px;
      }
      input{
        appearance: none;
        box-shadow: none;
        border: 0;
        outline: none;
        color: $white;
        background-color: transparent;
        margin-left: 10px;
        font-size: 26px;
        width: 100%;
        margin-right: 10px;
      }
    }
    .social{
      display: flex;
      flex: 0 0 spanGrid(6);

      justify-content: space-between;
      img{
        max-height: 20px;
      }
    }
  }
}

.sub {
  position: fixed;
  top: 0;
  right: 0;
  min-width: calc(spanGrid(14) - var(--outer-margin));
  max-width: calc(spanGrid(14) - var(--outer-margin));
  min-height: 100vh;
  max-height: 100vh;
  z-index: 400;
  background-color: $black;
  transition: transform .3s ease;
  transform: translateX(0vw);
  padding-left: var(--outer-margin);
  font-size: 18px;
  
  &.hide {
    transform: translateX(100%);
  }

  .subHeader {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $gray;
    min-height: $navbarHeightMobile;
    
    .title{
      margin: 0;
      padding: 0;
      flex: 1 1 auto;
    }
    .back {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 48px;
      min-height:48px;

      cursor: pointer;
      font-size: 1rem;
      color: $white;
      margin-right: calc(var(--outer-margin) - 12px);
    }
  }

  ul {
    margin-top: var(--outer-margin);
    list-style: none;
    min-height: calc(100vh - calc(var(--outer-margin) * 4));
    max-height: calc(100vh  - calc(var(--outer-margin) * 4));
    overflow-y: auto;

    a {
      color: $white;

      li {
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}

@include mq($from: tablet) {
  .mobileMenu, .logo, .hamburger, .sub{
    display: none;
  }
}