.sidebar {
  margin-left: var(--outer-margin);
  margin-top: calc(1rem + $navbarHeight);
  flex: 0 0;
  min-width: spanGridWithGutter(4);
  position: fixed;
  
  ul {
    list-style: none;
    li{
      a{
        color:$gray;
        &.active{
          transition: color 0s;
          transition-delay: 0.1s; // Delay for not showing when scrolling
          color:$black;
        
        }
      }
      
      
    }
  
  }
  &.full{
    display: none;
  }
  &.inverted{
    ul{
      a{
        li{
          color:lightgray;
          &.active{
            color: $white;
          }
        }
      }
    }
  }
}