.sidebar {
  margin-left: var(--outer-margin);
  margin-top: 1rem;
  flex: 0 0;
  min-width: spanGridWithGutter(4);
  position: fixed;

  ul {
    list-style: none;
    li{
      &.active{
        font-weight: bold;
      }

    }
  }

}