.intro {
	position: relative;

	p {
		color: var(--white);

		@include mq($from: desktop) {
			padding-right: 35%;
		}
	}
}

.list {
	span {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
