.intro {
	position: relative;

	p {
		color: var(--white);

		@include mq($from: desktop) {
			padding-right: 35%;
		}
	}
}
<<<<<<< HEAD
=======

.list {
	span {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
>>>>>>> 5acb511a452fe5e15c58b47464f67aa540e02ec7
