.shop {
	ul {
		list-style: none;
		li {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 1rem;
			div {
				margin-left: 1rem;
			}
			div:first-child {
				margin-left: 0rem;
				display: flex;
				flex-direction: column;
				flex: 1 1 auto;
			}
			div:last-child {
				flex: 0 0 auto;
			}
			.articleNo {
				font-size: 0.6rem;
				color: var(--black);
			}
		}
	}
}
