.downloads {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid var(--mid-gray);
  column-count: unset;
  column-gap: unset;

  li {
    flex: 1 1 auto;
    width: auto;

    @include mixin.mq($from: tablet) {
      padding-top: 1.5em;
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  @include mixin.mq($until: tablet) {
    padding-top: 0em;

    li {
      flex: 0 0 50% !important;
      margin-top: 1.5em;
    }
  }
}