.shopinfo {
	width: 100%;
}

.shipping {
	padding-bottom: var(--small-margin);
	text-align: center;

	.delivery {
		display: inline-block;
		min-height: 0.5em;
		min-width: 0.5em;
		border-radius: 50%;
		margin-right: 0.5em;

		&.short {
			background-color: var(--delivery-short);
		}
		&.medium {
			background-color: var(--delivery-medium);
		}
		&.long {
			background-color: var(--delivery-long);
		}
	}
}
