.checkout{
  table{
    width: 100%;
    border-collapse: collapse;
    tr{
      th, td{
        padding-right: 10px;
        padding-bottom: 10px;
      }
      th{
        text-align: left;
      }
      th:first-child, td:first-child{
        width: 100%;
      }
      th:last-child, td:last-child{
        //text-align: right !important;
      }
      &.total{
        td{
          font-weight: bold;
          border-top: 1px solid #000;
          //padding-top: 1rem;
        }   
      }
      &.buttons{
        text-align: right;
        button{
          border-color: $black;
          margin-left: 10px;
        }
      }
    }
    input[type=number]{
      max-width: 50px;
    }
  }
}