$body-line-height: 1.25em;

body,
html {
  font-size: 18px;
  line-height: $body-line-height;
  color: $black;
  font-weight: 570;
  -webkit-font-smoothing: antialiased;
  font-variant-numeric: oldstyle-nums;
  font-family: $body-font;

  @include mq($from: tablet) {
    font-size: 26px;
  }
}

h1 {
  font-size: 1.2rem;
}

h3 {
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

nav {
  font-size: .6rem;
  font-family: "IndivisibleMedium";
}

caption {
  font-size: .3rem;
}