$body-line-height: 1.35em;
$headline-line-height: 1.25;

body,
html{
  font-size: 18px;
  line-height: $headline-line-height;
  color: $black;
  font-weight: 570;
  -webkit-font-smoothing: antialiased;
  font-variant-numeric: oldstyle-nums;
  font-family: $body-font;

  @include mq($from: tablet) {
    font-size: 26px;
  }

  @include mq($from: wide) {
    font-size: 30px;
  }
}

h1 {
  font-size: 1rem;
  font-weight: normal;
  font-family: $headline-font;
  //padding-top: 1rem;
  padding-bottom: 1rem;

  &.bottomMargin {
    padding-bottom: 1.5em;
  }
}

//Big h1, see mixins

h2 {
  font-size: .8em;
  //letter-spacing: .1em;
  padding-bottom: 1em;
  
  &.topMargin {
    padding-top: .5em;
  }
}

h3 {
  font-size: .45em;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding-bottom: .5em;
}

nav, p.medium, .medium p {
  font-size: .65rem;
  font-family: "IndivisibleMedium";
  line-height: $body-line-height;
}

nav {
  line-height: 2em !important;
}


figcaption, p.small {
  line-height: $body-line-height;
  font-size: .6rem;
  font-family: "IndivisibleMedium";
  line-height: 1.4;
}

.bodyWeight {
  font-family: $body-font !important;
}

.noMargin {
  margin-bottom: 0;
}