// COLOR
$black: #121212;
$white: #fcfcfc;
$gray: #969693;
$red: #b41f1f;
$beige: #aaa091;
$light-gray: #f2f2f1;
$mid-gray: #d4d3cf;
$warm-gray: #d2bd93;
$copper: #876058;
$copper-light: #af685a;
$green: #1b5b44;
$black-menu: rgba($black, 0.65);
$white-menu: rgba($white, 0.65);

.white {
  color: $white;
}

.red {
  color: $mid-gray !important;
}

.copper {
  color: $copper-light;
}

//BORDER
$line: 1px solid $black;

// MARGINS & SPACES
$max-width: 1440px;
$navbarHeight: 4rem;
$navbarHeightMobile: 60px;

$margin: 3rem;
$small-margin: 2rem;

$body-font-size: 18px;

@mixin maxWidth() {
  max-width: $max-width;
  margin: auto;
}
