.arrowLink {
	position: relative;
	color: var(--black);
	overflow: hidden;

	svg > path {
		fill: var(--black);
	}

	.arrow {
		display: inline;
		margin-left: -1em;
		margin-right: 0.4em;
		transition: margin-left 0.3s ease-out;
	}

	&.hover .arrow {
		margin-left: 0rem;
	}

	&.inverted {
		color: var(--white);

		svg > path {
			fill: var(--white);
		}
	}

	&.reversed .arrow {
		transform: rotate(180deg);
	}

	@include mq($until: tablet) {
		.arrow {
			margin-left: 0rem !important;
		}
	}
}
