.error {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.8);

	.wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		color: var(--black);

		padding: var(--outer-margin);
		h3 {
			color: var(--red);
		}
		.message {
			margin-top: 1rem;
			margin-bottom: 1.5rem;
			color: var(--white);
		}
		button {
			width: 100%;
			color: var(--white);
			background-color: var(--black);
		}
	}
}
