.bar,
.options {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: $white;
  color: $black;
  z-index: 1001;
  font-size: $body-font-size;
  width: 100%;

  button {
    border-color: $black;
    margin-right: 10px;
    margin-bottom: 0;

    &:hover {
      color: $white !important;
      background-color: $black;
    }
  }
}

.bar {
  display: none;
}

.options {
  padding: 40px;
  transition: transform 0.2s ease-in-out;
  transform: translateY(100%);
  min-width: 40vw;
  max-width: 100%;
  //min-height: 20vw;

  &.show {
    transform: scale(1);
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    font-size: 40px;
  }
}
