.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6rem;
  min-width: 1.6rem;
  height: 2rem;
  min-height: 2rem;
  flex: 0 0 1.6em;
  background-color: $light-gray;
  color: $black;
  margin-right: 1em;
}