.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  .item{
    position: relative;
    border-bottom: 1px solid $black;
    .toggle{
      position: absolute;
      top:0;
      right:0;
      cursor: pointer;
    }
    &.hide{
          
    }
  }
}
