.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  .item{
    position: relative;
    border-bottom: 1px solid $gray;
    .wrapper {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
    .toggle{
    }
    &.hide{
          
    }
    .content {
      padding-bottom: 1rem;
    }
  }
}
