.logo {
  position: fixed;
  margin-left: var(--outer-margin);
  font-family: 'logo', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-top: 1.4rem;
  z-index: 1000; 
  transition: color .8s ease-out;
  color: $black;
  span{
    display: inline-block;
    opacity: 1;  
    transform: scale(1);
    transition: opacity .3s, font-size .4s ease-in-out, font-variation-settings .4s ease-in-out;

    &.hide{
      opacity: 0;
    }

    font-variation-settings: 'wght' 1000, 'opsz' 1000;
    
    &.big{
      font-variation-settings: 'wght' 1000, 'opsz' 0;
      font-size: 1.6rem;
    }
    &.inverted { 
      color:$white;
      font-variation-settings: 'wght' -300, 'opsz' 1000;
      &.big{
        font-variation-settings: 'wght' 0, 'opsz' 0 !important;
      }
    }
  }
}