.productThumbnail {
  figure{
    position: relative;
    display: flex;
    flex-direction: column;
    aspect-ratio: 4/3;
    background-color:$light-gray;
    &:hover {
      background-color:white;
    }
    .image {
      position: relative !important;
      flex: 1 1 auto;
      object-fit: contain;
      mix-blend-mode: multiply;
    }
  }
  figcaption{
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    color: $gray;
    span{
      color: $black;
    }
  }
}