.paragraph {
  margin: 0;
  padding: 0;
  line-height: 1.3;

  @include mq($from: wide) {
    display: inline;
  }

  .word {
    display: inline;

    &.block {
      display: inline-block;
    }

    .letter {
      display: inline;
      opacity: 1;
      transition: opacity .25s ease-in-out;

      &.hide {
        opacity: 0;
      }
    }
  }
}