.paragraph {
	margin: 0;
	padding: 0;
	line-height: 1.1;
	display: inline;

	@include mq($from: desktop, $until: wide) {
		display: inline-block;
	}

	.word {
		display: inline;

		&.block {
			display: inline-block;
		}

		.letter {
			display: inline;
			opacity: 1;
			transition: opacity 0.25s ease-in-out;

			&.hide {
				opacity: 0;
			}
		}
	}
}
