.informationSection {
	display: flex;
	flex-direction: row;
	padding-bottom: var(--small-margin);

	.textWrap {
		z-index: 1;
	}

	.info {
		@include mq($from: tablet) {
			z-index: 2;
			position: absolute;
			width: spanGrid(12);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			pointer-events: none;
		}

		h1 {
			@include mq($from: tablet) {
				padding: 0.5em;
				@include h1Big();
			}
		}

		.getintouch {
			display: flex;
			flex-wrap: wrap;
			pointer-events: all;
			@include mq($from: tablet) {
				z-index: 3;

				width: 100%;
				flex-direction: row;
				justify-content: space-between;
				padding: 2em;
				margin-bottom: var(--small-margin);
			}

			& > div {
				@include mq($until: tablet) {
					width: 50%;
				}
			}

			p,
			div,
			a {
				color: var(--white);
				//width: 33%;
			}

			p {
				margin-bottom: 0;
			}
		}

		button {
			margin-top: 1em;
			color: var(--black);
			cursor: pointer;
			&:hover {
				background-color: var(--white);
				color: var(--black);
			}

			@include mq($until: tablet) {
				width: 100%;
				margin-top: 2em;
			}
		}
	}

	.imageWrap {
		@include mq($until: tablet) {
			display: none;
		}

		width: 100%;

		@include mq($from: tablet) {
			mix-blend-mode: screen;

			.image {
				width: spanGrid(12);
				max-width: 100% !important;
				position: relative;
			}

			.fade {
				height: 30%;
				position: absolute;
				width: spanGrid(12);
				max-width: 100% !important;
				z-index: 1;
				bottom: var(--small-margin);
				background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
			}
		}
	}
}

.staffSection {
	flex-direction: column;
	padding-bottom: var(--margin);

	h1 {
		padding-top: var(--small-margin);
		border-top: 1px solid var(--white);
	}

	.staff {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex: 1 1 100%;

		.employee {
			display: flex;
			flex-direction: column;
			width: 48%;
			margin-right: 4%;
			filter: grayscale(1);

			@include mq($until: tablet) {
				@include resetLastColumn(2);
			}

			@include mq($from: desktop) {
				width: spanNestedGrid(12, 3);
				margin-right: nestedGridGutter(12);
				@include resetLastColumn(4);
			}

			@include mq($from: tablet, $until: desktop) {
				width: spanNestedGrid(12, 4);
				margin-right: nestedGridGutter(12);
				@include resetLastColumn(3);
			}

			.image {
				margin-bottom: 0.5em;

				display: flex;

				img,
				picture {
					object-fit: cover;
					aspect-ratio: 4 / 3;
				}
			}
		}
	}
}

.showroomsSection {
	flex-direction: column;
	flex: 0 0 100%;
	padding-top: var(--margin);
	padding-bottom: var(--margin);
	background-color: var(--black);

	h1 {
		color: var(--beige);
	}

	.intro {
		color: var(--white);

		@include mq($from: desktop) {
			width: 70%;
		}

		padding-bottom: 1.5em;
	}

	.showroom {
		display: flex;
		flex-direction: row;
		flex: 0 0 100%;
		position: relative;

		@include mq($until: desktop) {
			flex-wrap: wrap;

			.left,
			.right {
				width: 100%;
			}
		}

		a {
			color: var(--white);
		}

		&:nth-child(even) {
			flex-direction: row-reverse;

			.left {
				padding-right: 0em;

				@include mq($until: desktop) {
					padding-top: 1em;
				}
			}

			.right {
				padding-right: 1em;
				padding-left: 0;
				padding-top: 1em;
			}
		}

		.left {
			position: relative;

			@include mq($until: desktop) {
				padding-top: 1em;
			}

			@include mq($from: desktop) {
				flex: 0 0 50%;
				padding-left: 0em;
			}
		}

		.right {
			position: relative;

			@include mq($until: desktop) {
				padding-top: 1em;
			}

			@include mq($from: desktop) {
				flex: 0 0 50%;
				padding-left: 1em;
				padding-top: 1em;
			}
		}
	}

	.text {
		color: var(--white);
	}

	h2 {
		color: var(--beige);
	}
}

.distributorSection {
	display: flex;
	flex-direction: column;
	padding-top: var(--margin);
	padding-bottom: var(--margin);
	background-color: var(--beige);

	h2 {
		color: var(--white);
	}

	.distributors {
		display: flex;
		position: relative;
		flex-direction: row;
		flex-wrap: wrap;
		flex: 1 1 100%;

		.distributor {
			@include mq($from: desktop) {
				width: spanNestedGrid(12, 4);
				margin-right: nestedGridGutter(12);
				@include resetLastColumn(3);
				margin-bottom: 1em;
			}
		}
	}

	@include mq($until: desktop) {
		.distributors {
			.distributor {
				width: 48%;
				margin-right: 4%;
				@include resetLastColumn(2);

				P {
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
		}
	}
}

.resellerSection {
	display: flex;
	flex-direction: column;
	padding-top: var(--margin);
	padding-bottom: var(--margin);
	background-color: var(--black);

	h1 {
		color: var(--white);
	}

	.resellers {
		display: flex;
		position: relative;
		flex-direction: column;
		flex: 1 1 100%;

		.country {
			display: flex;
			flex-direction: column;
			color: var(--white);

			.wrap {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				position: relative;

				.reseller {
					padding-bottom: 0.5em;

					@include mq($from: desktop) {
						width: spanNestedGrid(12, 4);
						margin-right: nestedGridGutter(12);
						@include resetLastColumn(3);
					}

					@include mq($until: desktop) {
						width: spanNestedGrid(12, 6);
						margin-right: nestedGridGutter(12);
						@include resetLastColumn(2);
					}

					p {
						text-overflow: ellipsis;
						overflow: hidden;
					}

					.name {
						color: var(--beige);
					}

					a {
						color: var(--white);
					}
				}
			}
		}
	}
}
