.desktopMenu {
  position: fixed;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: var(--outer-margin);
  padding-right: var(--outer-margin);
  min-height: $navbarHeight;
  max-height: $navbarHeight;
  transition: transform 0.3s ease;

  @include mq($until: tablet) {
    display: none;
  }

  .logo {
    transition:filter 0.3s ease;
    flex: 1 1;

    img {
      height: 2rem;
    }
  }

  ul {
    width: spanGrid(12);
    padding-top: 1em;
    height: 100%;
    margin-left: $gutter;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    opacity: 1;
    transition: opacity 0.3s ease;
    
    li {
      position: relative;
      cursor: pointer;
      user-select: none;
      padding-right: 4em;
      white-space: pre;
      color: $black-menu;

      &.selected{
        color: $black !important;  
        a{
          color: $black !important;  
        }
      }
      a, a:visited {
        color: $black-menu;
      }

      &:hover, a:hover {
        color: $black;
      }
      .arrow {
        display: inline-block;
        visibility: hidden;
        transition: transform .2s;
        transform: rotate(0deg);

        &.active {
          visibility: visible;
          transform: rotate(90deg);
        }

        &.hover {
          visibility: visible;
        }
      }
    }
  }
  li.searchIcon{
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
    flex: 1 1 100%;
    
    img{
      opacity: 0.6;
      width: 16px;
      max-width: 16px;
      &:hover{
        opacity: 1;
      }
    }
  }
  &.open {
    min-height: 100vh;
    pointer-events: none;


    *>li {
      //color: $black  !important;
    }

    ul {
      pointer-events: all;
    }
  }

  &.inverted {
    *>li, *>a {
      color: $white-menu;
    }
     
    li:hover, a:hover {
      color: $white !important;
    }

    a:visited {
      color: $white-menu;

    }
    
    ul > li.selected, ul > li.selected > a {
      color: $white !important;
    }

    .logo {
      filter: invert(1);
    }
    li.searchIcon{
      filter: invert(1);
    }
  }

  &.hide {
    
    pointer-events: none;
    
    @include mq($until: tablet) {
      transform: translateY(-$navbarHeight);
    }

    @include mq($from: tablet) {
      ul {
        opacity: 0;
        
      }
    }
  }
}

.sub {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  z-index: 99;
  background-color: rgb(255, 255, 255);
  transition: opacity .3s ease;
  opacity: 0;
  pointer-events: none;
  box-shadow: -1px 0px 10px rgba(gray, 0.1);
  color: $black-menu;


  @include mq($until: tablet) {
    display: none;
  }

  &.show {
    pointer-events: all;
    height: 100vh;
    opacity: 0.95;
  }

  .subPad {
    padding: 1rem;
    padding-top: 4rem;
    background-color: $white;
    &.inverted{
      * {
        color:$white-menu !important;

        &.active{
          color: $white !important;
        }

        &:hover {
          color: $white !important;
        }

      }

      nav ul {
        border-top: 1px solid $light-gray;
      }

    }
    nav {
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        padding-top: 1rem;
        border-top: 1px solid $gray;
        max-height: calc(100vh - 4rem);
        overflow-y: scroll;
        scrollbar-width: none;  
        &::-webkit-scrollbar{
          display: none;
          -ms-overflow-style: none;
          
        }
        a {
          line-height: 1.25rem;

          li {
            transition: color .3s;
            color: $black-menu;

            &:hover {
              color: $black;
            }
            &.active{
              color: $black !important;
            }
          }
        }
      }
    }
  }
}

.search{
  position: fixed;
  top:0;
  right:0;
  height: 100vh;
  min-height: 100vh;
  z-index: 100;
  background-color: $white;
  display: flex;
  flex-direction: column;
  width: spanGridWithGutter(12);
  margin-left: calc(var(--outer-margin) + spanGrid(4));
  padding-left: var(--outer-margin);
  padding-right: var(--outer-margin);
  padding-top: 1.5rem;
  font-size: 18px;
  box-shadow: -1px 0px 10px rgba(128, 128, 128, 0.1);
  
  .query{
    position: relative;
    width: 100%;
    input{
      border: 0px;
      padding: .5em;
      background-color: $light-gray;
      outline: none;
      width: 100%;
      
    }
    button{
      position: absolute;
      top:0;
      right:0;
      z-index: 1;
      border:0;
      padding: 0;
      margin: 0;
      height: 100%;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .results{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    div{
      margin-bottom: .5em;
    }
  }
}