.desktopMenu {
  position: fixed;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: var(--outer-margin);
  padding-right: var(--outer-margin);
  min-height: $navbarHeight;
  max-height: $navbarHeight;
  transition: transform 0.3s ease;

  @include mq($until: tablet) {
    display: none;
  }

  .logo {
    transition:filter 0.3s ease;
    flex: 1 1;

    img {
      height: 2rem;
    }
  }

  ul {
    width: spanGrid(12);
    padding-top: 1em;
    height: 100%;
    margin-left: $gutter;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
    opacity: 1;
    transition: opacity 0.3s ease;
    

    li {
      position: relative;
      cursor: pointer;
      user-select: none;
      padding-right: 4em;
      white-space: pre;
      &.selected{
        font-weight: bold;
      }
      .arrow {
        display: inline-block;
        visibility: hidden;
        transition: transform .2s;
        transform: rotate(0deg);

        &.active {
          visibility: visible;
          transform: rotate(90deg);
        }

        &.hover {
          visibility: visible;
        }
      }
    }
  }

  &.open {
    min-height: 100vh;
    pointer-events: none;


    *>li {
      //color: $black  !important;
    }

    ul {
      pointer-events: all;
    }
  }

  &.inverted {
    *>li, *>a {
      color: $white;
    }

    .logo {
      filter: invert(1);
    }
  }

  &.hide {
    
    @include mq($until: tablet) {
      transform: translateY(-$navbarHeight);
    }

    @include mq($from: tablet) {
      ul {
        opacity: 0;
      }
    }
  }
}

.sub {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  z-index: 99;
  background-color: rgb(255, 255, 255);
  transition: opacity .3s ease;
  opacity: 0;
  pointer-events: none;
  box-shadow: -1px 0px 10px rgba(gray, 0.1);


  @include mq($until: tablet) {
    display: none;
  }

  &.show {
    pointer-events: all;
    height: 100vh;
    opacity: 0.95;
  }

  .subPad {
    padding: 1rem;
    padding-top: 4rem;
    background-color: $white;
    &.inverted{
      * {
        color:$white !important;
      }
    }
    nav {
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        padding-top: 1rem;
        border-top: 1px solid $gray;
        max-height: calc(100vh - 4rem);
        overflow-y: scroll;
        scrollbar-width: none;  
        &::-webkit-scrollbar{
          display: none;
          -ms-overflow-style: none;
          
        }
        a {
          line-height: 1.25rem;

          li {
            transition: color .3s;
            color: $black-menu;

            &:hover {
              color: $black;
            }
            &.active{
              color: $black !important;
            }
          }
        }
      }
    }
  }
}