.menu {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  top:0;
  left:0;
  z-index: 100;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left:var(--outer-margin);
  margin-right: var(--outer-margin);
  min-height: $navbarHeight;
  max-height: $navbarHeight;
  transition: transform 0.3s ease;

  @include mq($from: tablet) {
    height: 100vh;
  }

  &.hide{
    @include mq($until: tablet) {
      transform: translateY(-$navbarHeight);
    }
    @include mq($from: tablet) {
      ul{
        transform: translateY(-$navbarHeight);
      }
    }
  }
  &.inverted{
    ul{
      li{
        a{
          color:$white;
        }
        
      }
    }
    
  }
  .logo{
    flex: 1 1;
    img {
      height: 2rem;
    }
  }
  
  ul{
    width: spanGrid(12);
    height: 100%;
    margin-left: $gutter;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    transition: transform 0.3s ease;
    li{
      padding-right: 4em;
    }
  }
}