.cart{
  position: fixed;
  display: block;
  
  left:0;
  bottom:0;
  z-index: 2000;
  padding: 20px;
  max-height: 50vh;
  overflow: hidden;
  background-color: $black;
  color:$white;
  margin:10px;
  &.updating{
    opacity: 0.9;
  }
  ul{
    list-style: none;
    min-height: 1em;
  }
  button{
    color:$white;
    //width: calc(50% - 10px);
    margin-right: 10px;
    cursor: pointer;
    &:last-child{
      //margin-right: 0;
    }
  }
  table{
    width: 100%;
  }
}