.faq{
  position: relative;
  ul{
    list-style: none;
    li{
      display: flex;
      position: relative;
      flex-direction: column;
      cursor: pointer;
      padding: .8em .8em .8em 0em;
      border-bottom: 1px solid $white;
      &.selected{
        padding: .8em .8em .8em .8em;
        background-color: $white;
        
        .answer{
          display: block;
        }
      }
      .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .question{
          flex: 1 1 100%;
          padding:0;
        }
        .indicator{
          margin-right: $gutter;
        }
      }
      
      .answer{
        display: none;
        p{
          margin:0;
          padding-right: 20%;
          padding-top: .5em;
        }
      }
    } 
  }  
}