.intro{
  position: relative;
  p{
    color:$white;
  }
}
.manuals{
  position: relative;
  p{
    color:$white;
  }
  .search{

    border-top: 1px solid $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $gutter 0 $gutter 0;

    img{
      max-width: 18px;
      margin-right: .5rem;
    }
    input{
      margin:0;
      margin-bottom: $gutter;
      background-color: transparent;
      border:0;
      outline: none;
      margin:0;
      width: 100%;
    }
  }
  
  .result{
    list-style: none;
      
      li{
        &:nth-child(odd){
          background-color: $white;
        }
        &:nth-child(even){
          background-color: $light-gray;
        }
        .disabled{
          pointer-events: none;
          opacity: 0.6;
        }
        a{
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          font-size: 18px;
          
          .fileIcon{
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            background-color: $gray;
            height: 40px;
            width: 40px;
            font-size: 10px;
          }
          .label{
            flex: 1 1 auto;
          }
          .arrow{
            opacity: 0;
            transform: rotate(90deg);
          }
          &:hover{
            .arrow{
              opacity: 1;
            }
          }
        }
      }
  }
}