.intro{
  position: relative;
  p{
    color:$white;
  }
}
.manuals{
  position: relative;
  p{
    color:$white;
  }
  .search{

    border-top: 1px solid $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $gutter 0 $gutter 0;

    img{
      max-width: 18px;
      margin-right: .5rem;
    }
    input{
      margin:0;
      margin-bottom: $gutter;
      background-color: transparent;
      border:0;
      outline: none;
      margin:0;
      width: 100%;
    }
  }
  
  .result{
    list-style: none;
      
      li{
        display: flex;
        flex-direction: row;
        padding: .8em;
        &:nth-child(odd){
          background-color: $white;
        }
        &:nth-child(even){
          background-color: $light-gray;
        }
        a{
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          font-size: 18px;
        }
      }
  }
}