.bespoke {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.image {
		position: relative !important;
		min-height: 100vh;
		width: 100vw;
	}

	h1 {
		@include h1Big();
		position: absolute;
		display: flex;
		justify-content: center;
		left: 0;
		word-break: break-all;
		padding-left: 1em;
		padding-right: 1em;
		color: var(--white);
		bottom: auto;
		top: calc(50vh - 1em);
		text-align: center;
		width: 100%;
	}
}
