.introduction {
  padding-bottom: var(--small-margin);
}

.intro {
  @include mixin.mq($from: desktop) {
    width: 80%;
  }

  color: white;

  p {
    margin-bottom: 0;
  }
}

.materials {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: var(--small-margin);

  h1 {
    width: 100%;
  }
}

.material {
  margin-bottom: 1rem;
  margin-right: mixin.nestedGridGutter(12);

  figure {
    background-color: var(--gray) !important;
  }

  @include mixin.mq($from: tablet) {
    width: mixin.spanNestedGrid(12, 3);
    @include mixin.resetLastColumn(4);
  }

  @include mixin.mq($until: tablet) {
    width: 48%;
    margin-right: 4%;
    @include mixin.resetLastColumn(2);
  }
}