.product {
	position: relative;
	background-color: white;
	margin-left: spanGrid(4);
	padding-top:4rem;
	.image {
		position: relative;
		width: 100%;
		height: 60vh;
		min-height: 80vh;

		.overlay {
			position: absolute;
			//background-color: rgba(255, 255, 255, 0.2);
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			.text {
				position: relative;
				width: 100%;
				height: 100%;
				.title {
					position: absolute;
					top: 0;
					left: 0.5em;
					padding-top: .5em;
					@include h1Big();
				}
				.designer {
					position: absolute;
					right: 0.5em;
					bottom: 0;
					@include h1Big();
				}
				.type {
					position: absolute;
					top: 2rem;
					right: 2rem;
				}
			}
		}
	}
}

.details {
	margin-top: $margin;
	margin-bottom: $margin;
	border-top: 1px solid $gray;
	margin-left: spanGrid(4);
	.colorImages {
		display: flex;
		flex-direction: row;
		.image {
			flex: 1 1 auto;
		}
	}

	h1 {
		padding-top: 1em;
	}

	.listItemContent{
		display: flex;
		flex-direction: column;
		table{
			width: 100%;
			tr{
				
				td, th {
					font-weight: normal;
					padding-bottom: .5em;

					&:nth-child(1){
						width: spanGrid(3);
					}
					&:nth-child(2){
						width: spanGrid(5);
					}
					&:nth-child(3){
						width: spanGrid(3);
					}
					&:nth-child(4){
						width: spanGrid(5);
					}
				}
				th{
					color: $gray;
				}
			}

			border-bottom: 1px solid $gray;
			&:last-child{
				border-bottom: 0;
			}
		}
		.specifications{
			padding-bottom: 1em;
			tr{
				td:nth-child(1), td:nth-child(3){
					color: $gray;
				}
			}
		}
		.articles{
			padding-bottom: 1em;
			padding-top: 1.5em;
		}

		.dimensions {
			padding-top: 1.5em;
		}

		.downloads{
			list-style: none;
			display: flex;
			flex-direction: row;
			width: 100%;
			li{
				display: flex;
				flex-direction: row;
				align-items: center;
				width: 100%;
				.fileIcon{
					display: flex;
					align-items: center;
					justify-content: center;
					height: 50px;
					width: 40px;
					background-color: $light-gray;
					font-size: 10px;
					margin-right: calc($gutter * 2);
				}
				.label{
					font-weight: bold;
				}
			}
		}
	}
}

.related{
	background-color: $gray;
	width: 100%;
	padding-left: spanGrid(4);
	
}