.featured{
  margin-bottom: $small-margin;
}
.products {

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;

    li {
      position: relative;
      margin-bottom: $small-margin;
      aspect-ratio: 4/3;

      @include mq($from: tablet) {
        width: spanNestedGrid(12, 3);
        margin-right: nestedGridGutter(12);
        @include resetLastColumn(4);
      }
      
      @include mq($until: tablet) {
        width: spanNestedGrid(12, 6);
        margin-right: nestedGridGutter(12);
        @include resetLastColumn(2);
      }
    }
  }

  .subtitle {
    color: $gray  !important;
  }

  .emptySearch {
    color: $gray;
  }

  padding-bottom: 2rem;


}