.products {
  ul {
		display: flex;
    flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
    li{
        position: relative;
        width: spanNestedGrid(12, 3);
        margin-bottom: $small-margin;
        margin-right: nestedGridGutter(12);
        aspect-ratio: 4/3;
        &:nth-child(4n) {
          margin-right: 0;
      }
    }
    
	}
}
