.image{
	max-width: 50%;
	@include mq($until: tablet){
		max-width: 100%;
	}
}

.date{
	flex: 0 0 spanGridWithGutter(4);

}

.news {
	color: $white;
	display: flex;
	flex-direction: row;
	
	.content p{
		margin-top: 1rem;
		padding-right: 20%;
		
	}
	@include mq($until: tablet){
		flex-direction: column;
		.content p{
			padding-right: 0;
		}
	}
}

.more button {
	margin-top: $small-margin;
	width: 100%;
	color: $white;	
}