.image{
	max-width: 50% !important;
}

.date{
	flex: 0 0 spanGridWithGutter(4);

}

.news {
	color: $white;
	display: flex;
	h1{
	}
	p{
		margin-top: 1rem;
		@include mq($from: tablet) {
    	padding-right: 20%;
		}
	}
}

.more a button {
	margin-top: $small-margin;
	width: 100%;
	appearance: none;
	background-color: transparent;
	color: $white;
	text-align: center;
	cursor: pointer;
}