.product {
	position: relative;
	background-color: var(--white);

	.intro {
		position: relative;
		width: 100%;
		background-color: white;
		cursor: pointer;

		.image {
			mix-blend-mode: multiply;
			padding-bottom: 3em;
			filter: blur(50px);
			width: 100%;

			@include mq($from: tablet) {
				min-height: calc(100vh - var(--navbar-height) - var(--small-margin));
				max-height: calc(100vh - var(--navbar-height) - var(--small-margin));
			}

			@include mq($until: tablet) {
				min-height: 55vh;
				width: calc(100% + calc(var(--outer-margin) * 2)) !important;
				margin-left: calc(var(--outer-margin) * -1);
				margin-right: calc(var(--outer-margin) * -1);
			}

			&.loaded {
				animation: blurout 0.7s ease-out forwards;

				@keyframes blurout {
					to {
						filter: blur(0px);
					}
				}
			}

			@include mq($until: tablet) {
				padding-bottom: 0;
			}
		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			animation: reveal 1s ease-out forwards;
			pointer-events: none;

			@keyframes reveal {
				to {
					opacity: 1;
				}
			}

			.text {
				position: relative;
				width: 100%;
				height: 100%;
				max-width: 100%;

				.title {
					position: absolute;
					top: 0;
					left: var(--outer-margin);

					@include mq($from: tablet) {
						left: 0.5em;
					}

					padding-top: 0.4em;
				}

				.designer {
					position: absolute;
					padding-left: var(--outer-margin);
					padding-right: 0.5em;

					@include mq($from: tablet) {
						left: auto;
						right: 0.5em;
						padding-left: 0.5em;
						text-align: right;
						padding-right: 0;
					}

					bottom: 0;
					@include h1Big();
					width: 100%;
				}

				.type {
					position: absolute;
					text-align: right;
					top: 1.5rem;
					right: 1rem;

					@include mq($from: tablet) {
						top: 2rem;
						right: 2rem;
					}
				}
			}

			.upcycled {
				position: absolute;
				top: calc(2.5rem + var(--outer-margin));
				right: 2rem;
				z-index: 2;
				width: 15vw;

				@include mq($from: desktop) {
					width: 10vw;
				}

				line-height: 0;
				//animation: rotating 30s linear infinite;
			}

			@keyframes rotating {
				from {
					transform: rotate(0deg);
				}

				to {
					transform: rotate(360deg);
				}
			}
		}
	}
}

.description {
	margin-top: calc(var(--small-margin) / 1.3);

	@include mq($from: tablet) {
		margin-top: var(--small-margin);
	}

	padding-right: 20%;

	p {
		margin-bottom: 0;
	}

	@include mq($until: desktop) {
		padding-right: 0;
	}
}
