/*********************
GENERAL STYLES
*********************/

body {
	width: 100%;
	color: $black;
	background-color: $white;
	font-family: $body-font, serif, "Helvetica", "Arial";
	//-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga", "kern";
	overscroll-behavior-y: none;
	margin: 0;
	padding: 0;
	overscroll-behavior-x: contain;
}

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	background: #fff;
}

::-webkit-scrollbar:vertical {
	width: 10px;
}

::-webkit-scrollbar:horizontal {
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: $black;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

p {
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

/* Images */

iframe {
	border: none;
}

/*********************
LINK STYLES
*********************/

div a {
	text-decoration: none;
	color: $black;
}

a {
	text-decoration: none;

	&:hover {
		color: black;
		//border-bottom: 1px solid $black;
	}
	&:visited {
		color: $black;
	}
}

button {
	background-color: transparent;
	color: $black;
	padding: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	border: 1px solid $white;
	outline: none;
	line-height: 1em;
	&:hover {
		background: $white;
		color: $black !important;
		cursor: pointer;
	}
}

::placeholder {
	font-family: $body-font;
}

// Achor link scroll margin from top of page
[id] {
	@include mq($from: tablet) {
		scroll-margin-top: 4.5rem;
	}
	@include mq($until: tablet) {
		scroll-margin-top: $navbarHeightMobile;
	}
}

[data-image-zoom] {
	img {
		transition: transform 0.5s ease !important;
		transform: scale(1);
		&:hover {
			transform: scale(1.02);
		}
	}
}

[data-image-zoom="small"] {
	img {
		&:hover {
			transform: scale(1.1);
		}
	}
}

[data-image-zoom="medium"] {
	img {
		&:hover {
			transform: scale(1.04);
		}
	}
}

input,
::placeholder {
	font-family: $headline-font;
}
