@use "sass:math";

$margin: 3rem;
$small-margin: 2rem;

:root {
  --outer-margin: 1.5rem;

  --black: #{$black};
  --white: #{$white};
  --gray: #{$gray};
  --light-gray: #{$light-gray};
  --mid-gray: #{$mid-gray};
  --warm-gray: #{$warm-gray};
  --red: #{$red};
  --copper: #{$copper};
  --copper-light: #{$copper-light};
}

