@use "sass:math";

@function hexToRGBString($hexColor) {
  @return #{red($hexColor)},
  #{green($hexColor)},
  #{blue($hexColor)};
}

$margin: 3rem;
$small-margin: 2rem;

:root {
  --outer-margin: 1.2rem;

  @include mq($from: tablet) {
    --outer-margin: 1.5rem;
  }

  --black: #{hexToRGBString($black)};
  --white: #{hexToRGBString($white)};
  --gray: #{hexToRGBString($gray)};
  --light-gray: #{hexToRGBString($light-gray)};
  --mid-gray: #{hexToRGBString($mid-gray)};
  --warm-gray: #{hexToRGBString($warm-gray)};
  --red: #{hexToRGBString($red)};
  --beige: #{hexToRGBString($beige)};
  --copper: #{hexToRGBString($copper)};
  --copper-light: #{hexToRGBString($copper-light)};
  --green: #{hexToRGBString($green)};

  --page-color:#{hexToRGBString($white)};
}