.designer {
	width: 100%;

	header {
		display: flex;
		flex-direction: row;
		position: relative;
		justify-content: flex-end;
		height: 100vh;
		width: 100%;

		.artist {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			h1 {
				position: absolute;
				top: 50%;
				left: 0.5em;
				transform: translateY(-50%);
				z-index: 2;
				@include h1Big();
				animation: fade 1s ease 1s reverse forwards;

			}

			.description {
				padding-left: 10%;
				padding-right: 10%;

				opacity: 0;
				animation: fade 1s ease 1s forwards;
				span {
					color: $white;
				}
			}
		}

		figure {
			position: relative;
			flex: 0 0 50%;
			height: 100%;

			div>img[role="presentation"] {
				height: 100vh;
			}
		}
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.products, .otherDesigners {
	padding-top: $margin;
	padding-bottom: $small-margin;
	display: flex;
	flex-direction: row;

	h1 {
		width: spanGridWithGutter(4);
	}

	.gallery {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: spanGrid(12);


		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
			list-style: none;

			li {
				width: spanNestedGrid(12,3);
				margin-right: nestedGridGutter(12);
				@include resetLastColumn(4);
				margin-bottom: 2rem;
				overflow: hidden;
			}
		}
	}
}

.otherDesigners {
	//padding-top: 0;
	padding-bottom: $margin;
}