.news{
  position: relative;
  color:$white;
  .newsItem{

    .image{

    }
    .text{

    }
  } 
  button{
    width: 100%;
    appearance: none;
    background-color:transparent;
    color:$white;
  }
}