.faq {
  position: relative;
  margin-bottom: 2em;

  h2.category {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--black);
  }

  ul {
    list-style: none;
    border-top: 1px solid var(--white);

    li {
      display: flex;
      position: relative;
      flex-direction: column;
      cursor: pointer;
      padding: 0.8em 0.8em 0.8em 0em;
      border-bottom: 1px solid var(--white);

      &.selected {
        padding: 0.8em 0.8em 0.8em 0.8em;
        background-color: var(--white);

        .answer {
          display: block;
        }
      }

      .header {
        display: flex;
        flex-direction: row;
        align-items: center;

        .question {
          flex: 1 1 100%;
          padding: 0;
          padding-right: 1em;
        }

        .indicator {
          margin-right: var(--gutter);
        }
      }

      .answer {
        display: none;

        p {
          margin: 0;

          @include mixin.mq($from: tablet) {
            padding-right: 20%;
          }

          padding-top: 0.5em;
        }
      }
    }
  }
}