.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-size: 22px !important;
  .connecting { 
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    z-index: 10;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

  }
  a {
    color: rgb(145, 233, 255);
    background-color: rgb(7, 33, 39);
    padding: 3px;
    
  }
  h1 {
    margin: 0;
    text-align: left;
    padding-bottom: 1em;
    padding-top: 1em;
    font-family: "FaktBold";
    font-size: 22px !important;
  }
  ul {
    margin-bottom: 20px;
    li {
    
      list-style: none;
      margin-left: 0px;
      padding-bottom: 1em;
      .htmlLinks{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2px;
        height: 60px;
        a{
          margin-right: 2px;
          padding: 5px;
        }
      }
    }
  }
  input[type=file], button{
    font-size: 14px;
  }
  input[type=file]{
    margin-bottom: 10px;
  }
}

.button{
  position: relative;
  appearance: none;
  border: 0;
  background-color: black;
  color:#fff;
  padding: 0;
  margin:1px;
  margin-top:10px;
  line-height: 1;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  padding: 10px;
  height: 60px;
  text-transform: uppercase;
  cursor: pointer;
  .error{
    color:red;
  }
  &.small{
    width: 40px;
  }
  .loader{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    animation: loader 1s ease-in-out infinite;
    background-color: transparent;
  }
  a{
    background-color: #000;
    color:#fff;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    width: 60px;
    padding: 10px;
    &:hover{
      //background-color: rgb(78, 78, 78);
    }
  }
  .close{
    position: absolute;
    z-index: 10;
    top:0;
    right: 0;
    margin:2px;
    
    font-size: 20px; 
    line-height: 0.5;
    color:gray;
    &:hover{
      color:yellow;
    }
  }
}
.links{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 2px;
  a{
    margin-right: 2px;
  }
} 
.buttonRow {
  display: flex;
  flex-direction: row;
  button{
    margin-right: 2px;
  }
}

@keyframes loader {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}