.container {
  display: flex;
  flex-direction: column;
  padding: 10vw;
  font-size: 22px !important;
  a {
    color: rgb(145, 233, 255);
    background-color: rgb(7, 33, 39);
    padding: 3px;
    margin:4px;
  }
  h1 {
    margin: 0;
    text-align: left;
    padding-bottom: 1em;
    padding-top: 1em;
    font-family: "FaktBold";
    font-size: 22px !important;
  }
  ul {
    margin-bottom: 20px;
    li {
      list-style: none;
      margin-left: 30px;
      padding-bottom: 1em;
    }
  }
}
