.start{
  display: flex;
  flex-direction: column;
  
  .news{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $white;

    h1{
      flex: 0 0 30%;
    }
    .text{
      flex: 1 1 auto;
      .more{
        font-weight: bold;
        .arrow{
          filter:invert(1);
        }
      }  
    }
    
    
  }
}