.featured {
  margin-bottom: var(--small-margin);
}

.products {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;

    li {
      position: relative;
      margin-bottom: var(--small-margin);
      aspect-ratio: 4/3;

      @include mixin.mq($from: tablet) {
        width: mixin.spanNestedGrid(12, 3);
        margin-right: mixin.nestedGridGutter(12);
        @include mixin.resetLastColumn(4);
      }

      @include mixin.mq($until: tablet) {
        width: 48%;
        margin-right: 4%;
        @include mixin.resetLastColumn(2);
      }
    }
  }

  .subtitle {
    color: var(--gray) !important;
  }

  .emptySearch {
    color: var(--gray);
  }

  padding-bottom: 2rem;
}