.contact {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 100%;
	min-height: 100vh;
	background-color: var(--white);
	color: var(--black);
	transform: translateY(100%);
	background-color: var(--black) !important;
	color: var(--white);

	button {
		border: 1px solid var(--white);
		color: var(--white);
		margin-top: 1rem;
	}

	&.show {
		animation: show 0.2s ease-out forwards;
		@keyframes show {
			from {
				transform: translateY(100%);
			}
			to {
				transform: translateY(0%);
			}
		}
	}

	h1 {
		color: var(--beige);
	}

	.wrap {
		position: relative;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding-left: 15%;
		padding-right: 15%;

		label {
			color: var(--beige);
		}

		h1 {
			width: 100%;
			text-align: center;
			padding-bottom: 2em;
		}

		.text {
			width: 100%;
			margin-bottom: 1rem;
			padding-left: var(--outer-margin);
			padding-right: var(--outer-margin);

			@include mq($from: tablet) {
				column-count: 2;
				column-gap: 5%;
			}

			span {
				color: var(--beige);
			}

			a {
				color: var(--white);
				border-bottom: 1px solid var(--beige);
			}
		}
	}
}

.close {
	all: unset;
	position: absolute;
	top: 0;
	right: 0;
	margin: var(--outer-margin);
	font-size: 50px;
	color: var(--white) !important;
	cursor: pointer;
	&:hover {
		color: var(--white);
	}
}
