.introduction {
  padding-bottom: var(--small-margin);
}

.intro {
  @include mixin.mq($from: tablet) {
    width: 80%;
  }

  color: white;

  p {
    margin-bottom: 0;
  }
}

.projects {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  .wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: var(--small-margin);
    margin-top: -2rem;

    >div {
      margin-top: 2rem;
    }
  }

  h1 {
    width: 100%;
  }
}

.project {
  figure {
    background-color: var(--gray) !important;
  }

  @include mixin.mq($from: desktop, $until: wide) {
    width: mixin.spanNestedGrid(12, 4);
    margin-right: mixin.nestedGridGutter(12);
    @include mixin.resetLastColumn(3);
  }

  @include mixin.mq($from: wide) {
    width: mixin.spanNestedGrid(12, 3);
    margin-right: mixin.nestedGridGutter(12);
    @include mixin.resetLastColumn(4);
  }

  @include mixin.mq($until: desktop) {
    width: 48%;
    margin-right: 4%;
    @include mixin.resetLastColumn(2);
  }
}