.introduction {
  padding-bottom: $small-margin;
}

.intro {
  @include mq($from: tablet) {
    width: 80%;
  }
  color: white;
  p {
    margin-bottom: 0;
  }
}

.projects {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  .wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: $small-margin;
    margin-top: -2rem;
    > div {
      margin-top: 2rem;
    }
  }
  h1 {
    width: 100%;
  }
}

.project {
  figure {
    background-color: $gray !important;
  }

  @include mq($from: desktop, $until: wide) {
    width: spanNestedGrid(12, 4);
    margin-right: nestedGridGutter(12);
    @include resetLastColumn(3);
  }
  @include mq($from: wide) {
    width: spanNestedGrid(12, 3);
    margin-right: nestedGridGutter(12);
    @include resetLastColumn(4);
  }
  @include mq($until: desktop) {
    width: 48%;
    margin-right: 4%;
    @include resetLastColumn(2);
  }
}
