.footer {
	background-color: $black;
	color: $white;
  padding-top: $small-margin;
	padding-bottom: $small-margin;

  &.line {
    padding-top: 0;

    .wrapperTop,{
    padding-top: $small-margin;
    border-top: 1px solid $white;
  }
  }

  @include mq($until: tablet) {
    display: none;
  }  
  
  .wrapperTop, .wrapperBottom {
		margin-left: var(--outer-margin);
		margin-right: var(--outer-margin);
		display: flex;
		justify-content: space-between;
	}
  
  .wrapperTop{
    .brand{
      .tagline{
        text-transform: uppercase !important;
        font-size: .7em;
        line-height: 1.2em;
        letter-spacing: .05em;
      }
    }
    
  }
  .wrapperBottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    .brand{
      flex: 0 0 spanGridWithGutter(4);
    }
    .lastRow {
      flex: 1 1 auto;
      width: spanGrid(8);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .social{
        display: flex;
        flex-direction: row;
        img{
          height: 1rem;
          margin-right: .5rem;
        }
      }
      .copyright {
        width: 100%;
        text-align: right;
      }
    }
  }

}

.menu {
  width: spanGrid(12);
  margin-left: $gutter;
  margin-bottom: $small-margin;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    li{
      padding-right: 2em;
      flex-basis: 16.67%;
      flex-grow: 0;
      ul{
        display: flex;
        list-style: none;
        flex-direction: column;
        a{
          color: $white-menu;
          &:first-child{
            color:$white;
          }

          &:hover{
            color: $white;
          }

          li{
            white-space: pre;
            max-width: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-bottom: .5em;

          }
        }
      }
    } 
  } 
}

.footerMobile{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  flex: 1 1 auto;
  background-color: $black;
  padding: var(--outer-margin);

  .logo{
    display: flex;
    justify-content: flex-start;
    filter:invert(1);
    img{
      max-height: 32px;
      width: auto;
    }
    
    flex: 0 0 spanGridWithGutter(2);
  }
  .tagline{
    color: $white;
    text-transform: uppercase;
    flex: 0 0 spanGridWithGutter(8);
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 12px;
  }
  .social{
    display: flex;
    justify-content: space-between;
    flex: 0 0 spanGrid(6);
    a{
      line-height: 0;
    }
    
  }
  @include mq($from: tablet) {
    display: none;
  }
}