.hamburger {
	position: fixed;
	display: flex;
	align-items: center;
	top: 0;
	right: 0;
	margin-right: calc(var(--outer-margin) - 12px);
	height: calc(var(--navbar-height) - 8px);
	color: var(--black);
	z-index: 300;

	@include mq($from: tablet, $until: nav-break) {
		top: 20px;
	}
}

.cart {
	@include mq($from: nav-break) {
		display: none !important;
	}
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 60px;
	width: 40px;
	z-index: 300;
	height: var(--navbar-height);

	@include mq($from: tablet, $until: nav-break) {
		top: 20px;
		right: 90px;
	}

	img {
		height: 1rem;
		margin-top: -0.6rem;
	}
	&.invert {
		img {
			filter: invert(1);
		}
	}
}

.mobileMenu {
	position: fixed;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	max-height: calc(100vh - calc(100vh - 100%));
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	z-index: 200;
	font-size: 1rem;
	padding-top: calc(var(--navbar-height-mobile));
	transition: max-height 0.3s ease;

	&.open {
		background-color: var(--black);
		height: 100%;
	}

	&.hide {
		display: none;
	}

	.main {
		padding-left: var(--outer-margin);
		margin-top: var(--outer-margin);
		flex: 1 1 auto;

		&.hide {
			display: none;
		}

		ul {
			display: flex;
			flex-direction: column;
			list-style: none;

			li {
				cursor: pointer;
				color: var(--white);
				font-size: 1rem;
				line-height: 2.5rem;
				transition: color 0.3s ease;
				color: var(--gray);

				a {
					color: var(--gray);
				}

				&.subactive {
					color: var(--white);
				}

				&.selected {
					font-weight: bold;
				}

				&.active {
					color: var(--white);

					a {
						color: var(--white);
					}
				}
			}
		}
	}

	.footer {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		padding: var(--outer-margin);
		padding-bottom: calc(var(--outer-margin) * 1);

		.search {
			display: flex;
			flex-direction: row;
			align-items: center;
			flex: 0 0 spanGridWithGutter(10);

			img {
				filter: invert(1);
				max-height: 20px;
				padding-bottom: 5px;
			}

			input {
				appearance: none;
				box-shadow: none;
				border: 0;
				outline: none;
				color: var(--white);
				background-color: transparent;
				margin-left: 10px;
				font-size: 1rem;
				font-family: var(--headline-font);
				width: 100%;
				margin-right: 10px;
			}
		}

		.social {
			display: flex;
			flex: 0 0 spanGrid(6);

			justify-content: space-between;

			img {
				max-height: 20px;
			}
		}
	}
}

.sub {
	position: fixed;
	top: 0;
	right: 0;
	min-width: calc(80% - calc(var(--outer-margin) * 1));
	max-width: calc(80% - calc(var(--outer-margin) * 1));
	padding-left: var(--outer-margin);

	box-shadow: -1px 0px 10px rgb(125 125 125 / 10%);
	min-height: 100vh;
	max-height: 100vh;
	z-index: 400;
	background-color: var(--black);
	//background-color: pink;
	transition: transform 0.3s ease;
	transform: translateX(0vw);
	font-size: 1rem;

	&.hide {
		transform: translateX(100%);
	}

	.subHeader {
		display: flex;
		flex-direction: row;
		align-items: center;
		color: var(--gray);
		padding-top: 0.5rem;
		color: var(--white);
		min-height: var(--navbar-height) Mobile;

		.title {
			margin: 0;
			padding: 0;
			flex: 1 1 auto;
		}

		.back {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 48px;
			min-height: 48px;
			cursor: pointer;
			font-size: 1rem;
			color: var(--white);
			margin-right: calc(var(--outer-margin) - 12px);
			transform: rotate(180deg);
		}
	}

	ul {
		margin-top: 1.7em;
		list-style: none;
		min-height: calc(100vh - calc(var(--outer-margin) * 4));
		max-height: calc(100vh - calc(var(--outer-margin) * 4));
		overflow-y: auto;

		li {
			line-height: 1.5em;
			padding-bottom: 1em;
			padding-right: 1em;

			a {
				color: var(--gray);
			}

			&.active {
				color: var(--white);

				a {
					color: var(--white);
				}
			}
		}
	}
}

@include mq($from: nav-break) {
	.mobileMenu,
	.logo,
	.hamburger,
	.sub {
		display: none;
	}
}
