@use 'mediaqueries' as *;

:root {
	--outer-margin: 1.2rem;

	@include mq($from: tablet) {
		--outer-margin: 1.5rem;
	}

	--black: #121212;
	--white: #fcfcfc;
	--white-real: #fff;
	--gray: #969693;
	--red: #b41f1f;
	--beige: #aaa091;
	--light-gray: #f2f2f1;
	--mid-gray: #d4d3cf;
	--warm-gray: #d2bd93;
	--copper: #876058;
	--copper-light: #af685a;
	--green: #1b5b44;
	--black-menu: color-mix(in srgb, var(--black) 65%, transparent);
	--white-menu: color-mix(in srgb, var(--white) 65%, transparent);

	//--black-fade: 18, 18, 18;
	--black-fade: color-mix(in rgb, var(--black) 100%, transparent);
	--white-fade: color-mix(in srgb, var(--white) 100%, transparent);

	--delivery-short: var(--black);
	--delivery-medium: var(--gray);
	--delivery-long: #d5d5d5;

	--line: 1px solid var(--black);
	--max-width: 1440px;
	--navbar-height: 4rem;
	--navbar-height-mobile: 60px;
	--margin: 3rem;
	--small-margin: 2rem;
	--body-font-size: 17px;
	--page-color: var(--white);
	--columns: 16;
	--gutter: 1.47%;
	--column-width: math.div(100% - ((var(--columns) - 1) * $gutter), var(--columns)) or
		calc((100% - ((var(--columns) - 1) * $gutter)) / var(--columns));

	--body-font: IndivisibleRegular, Helvetica, Sans-Serif;
	--body-font: 'IndivisibleRegular', Arial, Helvetica, Sans-Serif;
	--headline-font: 'IndivisibleMedium', Helvetica, Sans-serif;
	--logo-font: 'Orsjo';

	--body-line-height: 1.35em;
	--headline-line-height: 1.25;

	--z-undelay: 110;
	--z-shop: 100;
	--z-menu-desktop: 300;
	--z-modal: 10000;
	--z-cart: 1000;
	--z-modal: 2000;
	--z-page-transition: 10000;
}

/*********************
GENERAL STYLES
*********************/

body {
	width: 100%;
	color: var(--black);
	background-color: var(--white);
	font-family: var(--body-font);
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga', 'kern';
	overscroll-behavior-y: none;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	background: #fff;
}

::-webkit-scrollbar:vertical {
	width: 10px;
}

::-webkit-scrollbar:horizontal {
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--black);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

p {
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

/* Images */

iframe {
	border: none;
}

/*********************
LINK STYLES
*********************/

div a {
	text-decoration: none;
	color: var(--black);
}

a {
	text-decoration: none;

	&:hover {
		color: black;
		//border-bottom: 1px solid var(--black);
	}

	&:visited {
		color: var(--black);
	}
}

button {
	background-color: transparent;
	color: var(--black);
	padding: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	border: 1px solid var(--white);
	outline: none;
	cursor: pointer;
	line-height: 1em;

	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}
}

::placeholder {
	font-family: var(--body-font);
}

// Achor link scroll margin from top of page
[id] {
	@include mq($from: tablet) {
		scroll-margin-top: 4.5rem;
	}

	@include mq($until: tablet) {
		scroll-margin-top: var(--navbar-height-mobile);
	}
}

[data-image-zoom] {
	img {
		transition: transform 0.5s ease !important;
		transform: scale(1);

		&:hover {
			transform: scale(1.02);
		}
	}
}

[data-image-zoom='small'] {
	img {
		&:hover {
			transform: scale(1.1);
		}
	}
}

[data-image-zoom='medium'] {
	img {
		&:hover {
			transform: scale(1.04);
		}
	}
}

input,
::placeholder {
	font-family: var(--headline-font);
}

.noscrollbar {
	scrollbar-width: 0px !important;
	&::-webkit-scrollbar {
		display: none;
		-ms-overflow-style: none;
	}
}

#error-404,
#error-505 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.skeleton {
	* {
		outline: 1px solid rgb(255, 0, 0);
	}

	div {
		outline: 1px solid rgb(4, 0, 255);
	}
}

.white {
	color: var(--white);
}

.black {
	color: var(--black) !important;
}

.red {
	color: var(--beige) !important;
}

.copper {
	color: var(--copper) !important;
}

.beige {
	color: var(--beige) !important;
}

.gray {
	color: var(--gray) !important;
}

#page-transition {
	position: fixed;
	display: block;
	width: 100vw;
	height: 0vh;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: var(--z-page-transition);
	opacity: 1;
	background-color: var(--page-color);
	pointer-events: none;
	transition: height 0.5s ease-out;

	&.enter {
		height: 0vh;
		bottom: unset;
		top: 0;
	}

	&.exit {
		bottom: 0;
		top: unset;
		height: 100vh;
	}
}

#page-fade-transition {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: var(--z-page-transition);
	opacity: 0;
	background-color: var(--page-color);
	pointer-events: none;
	transition: opacity 0.3s ease-out;

	&.enter {
		opacity: 0;
	}

	&.exit {
		opacity: 1;
	}
}
