.featuredStart {
  margin-left: var(--outer-margin);
  margin-right: var(--outer-margin);
  padding-top: $margin;
  padding-bottom: $margin;
  max-width: 100vw;

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
  
    &.inverted{
      color: $white;
      button{
        color:$white;
      }
    }
    
    .header{
      width: spanGridWithGutter(4);
      .headline{
        color: white; 
      }
    }
    .gallery{
      position: relative;
      display: flex;
      flex-direction: row;
      max-width: spanGrid(12);
      figure {
        position: relative;
        flex: 1 1 auto;
        height: 100%;
        .image{
          
        }
      }
      .fade{
        position: absolute;
        top:0;
        right:0;
        height: calc(100% - 35px);      
        min-width: 30%;
        max-width: 30%;
        pointer-events: none;
        //background: rgb(255,255,255);
        //background: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(9,9,121,0) 100%, rgba(255,255,255,1) 100%);
        z-index: 2;
        &.hide {
          display: none;
        }
      }
    }
    .arrow{
      position: absolute;
      top:50%;
      right:1rem;
      transform: translateY(-50%);
      margin-top:-.5rem;
      z-index: 10;
      color:$black;
    }
  }
  @include mq($until: tablet) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .wrapper{
      flex-direction: column;
      .header{
        width: 100%;
        .headline{
          color: $gray;  
        }
      }
      .gallery{
        max-width: spanGrid(16);
      }
    }
  }
}