.featured {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  
  .header{
    display: flex;
    flex-direction: row;
    .headline{
      flex: 1 1 100%;  
    }
    .next{
      width: 40px;
      height: 40px;
      border-radius: 20px;
      min-width: 40px;
      min-height: 40px;
      background-color: transparent;
      border: 1px solid $gray;
      flex: 0 0 40px;
    }
  }

  .gallery{
    position: relative;
    display: flex;
    flex-direction: row;
    
    figure {
      position: relative;
      flex: 1 1 auto;
      height: 100%;
      .image{
        
      }
    }
  }
}