.container {
	position: relative;

	.image {
		cursor: pointer;
		margin-top: calc(var(--small-margin) / 1.3);

		@include mixin.mq($until: tablet) {
			width: calc(100% + calc(var(--outer-margin) * 2)) !important;
			margin-left: calc(var(--outer-margin) * -1);
			margin-right: calc(var(--outer-margin) * -1);
		}

		@include mixin.mq($from: tablet) {
			margin-top: var(--small-margin);
		}
	}
}
