.imageLink{
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  color:$white;
  a {
    color: $white;
    flex: 0 0 50%;
    //min-height: 70vh;
    h1 {
      padding-bottom: .2em;
    }
    figure{
      position: relative;
      min-height: 70vh;
      width: 100%;
      .image{
        img[role="presentation"]{
          height: 100%; 
          width: 100% !important; 
          object-fit: fill;
          background-color: transparent !important;
        }
      }
      figcaption{
        position: absolute;
        bottom: 0px;
        left: 0px;
        margin: $small-margin;
        .arrow {
          filter: invert(1);
        }
      }
    }
  }
  @include mq($until: tablet) {
    flex-direction: column;
    a{
      flex: 1 1 100%;
      width: 100%;
      figure{
        min-height: 30vh;
      }
    }
  }
}