.imageGallery {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: $small-margin / 1.3;

  @include mq($from: tablet) {
    padding-top: $small-margin;
  }

  figure {
    cursor: pointer;
    position: relative;
    margin-right: 3.5%;
    &:last-of-type {
      margin-right: 0;
    }
    div {
      aspect-ratio: 4/3;
      display: flex;
    }
    img {
      object-fit: contain;
    }
    background-color: white;
    .image {
    }
  }
}
