.imageLink {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	color: var(--white);

	a {
		color: var(--white);
		flex: 0 0 50%;

		//min-height: 70vh;
		h1 {
			padding-bottom: 0.2em;
		}

		figure {
			position: relative;
			min-height: 50vh;
			min-height: 50vh;
			width: 100%;

			.image {
				height: 100%;
				max-height: 50vh;
				width: 100%;
				object-fit: fill;
				background-color: transparent !important;
			}

			figcaption {
				position: absolute;
				bottom: 0px;
				left: 0px;

				@include mq($until: tablet) {
					padding: var(--outer-margin);
					padding-bottom: 2em;
				}

				padding: var(--small-margin);
				padding-top: calc(var(--small-margin) * 2);
				width: 100%;
				background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));

				.arrow {
					filter: invert(1);
				}
			}
		}
	}

	@include mq($until: tablet) {
		flex-direction: column;

		a {
			flex: 1 1 100%;
			width: 100%;

			figure {
				min-height: 40vh;
			}
		}
	}
}
