.news {
	a {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		color: var(--white);
		margin-left: var(--outer-margin);
		margin-right: var(--outer-margin);
		padding-top: var(--margin);
		padding-bottom: var(--margin);

		h1 {
			flex: 0 0 spanGridWithGutter(4);
			margin: 0;
			padding: 0;
		}

		.text {
			flex: 1 1 auto;

			p {
				padding-top: 0.5em;
			}

			.more {
				font-weight: bold;

				a {
					color: var(--white);

					.arrow {
						filter: invert(1);
					}
				}
			}
		}

		@include mq($until: tablet) {
			flex-direction: column;

			h1 {
				margin-bottom: 0.5em;
				color: var(--gray);

				&.title {
					@include mq($until: tablet) {
						color: var(--white);
					}
				}
			}

			.text > .more {
				margin-top: 0.5em;
			}
		}
	}
}
