.text {
	padding-top: calc(var(--small-margin) / 1.3);

	@include mq($from: tablet) {
		padding-top: var(--small-margin);
	}

	padding-right: 25%;

	&.inverted {
		* > a {
			color: var(--light-gray);
			border-bottom: 1px solid var(--white);
		}
	}

	p {
		margin-bottom: 0;
	}

	* > a {
		border-bottom: 1px solid var(--gray);
		color: var(--gray);
		transition: color 0.5s;

		&:hover {
			color: var(--black);
		}
	}

	@include mq($until: desktop) {
		padding-right: 0;
	}
}
