.text {
  padding-top: $small-margin;
  padding-right: 25%;
  p {
    margin-bottom: 0;
  }
  * > a {
    border-bottom: 1px solid $gray;
    color: $gray;
    transition: color .5s;

    &:hover {
      color: $black;
    }
  }
  @include mq($until: tablet) {
    padding-right: 0;
  }
}