.twoColumnImage {
  display: flex;
  flex-direction: row;
  margin-top: $small-margin / 1.3;

  @include mq($from: tablet) {
    margin-top: $small-margin;
  }
  justify-content: space-between;
  align-items: center;
  figure {
    cursor: pointer;
    width: 48%;

    .image {
      img[role="presentation"] {
        height: 100%;
        width: 100% !important;
        object-fit: fill;
        background-color: transparent !important;
      }
    }
  }
}
