.desktopMenu {
  position: fixed;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  top:0;
  left:0;
  z-index: 100;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left:var(--outer-margin);
  margin-right: var(--outer-margin);
  min-height: $navbarHeight;
  max-height: $navbarHeight;
  transition: transform 0.3s ease;

  @include mq($until: tablet) {
    display: none;
  }
  ul{
    width: spanGrid(12);
    height: 100%;
    margin-left: $gutter;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
    transition: transform 0.3s ease;
    li{
      position: relative;
      cursor: pointer;
      user-select: none;
      padding-right: 4em;
      white-space: pre;
      .arrow{
        display: inline-block;
        visibility: hidden;
        transition: transform .2s;
        transform:rotate(0deg);
        &.active{
          visibility: visible;
          transform: rotate(90deg);
        }
        &.hover{
          visibility: visible;
        }
      }
    }
  }

  &.open{
    min-height: 100vh;
    pointer-events: none;
    
    ul{
      pointer-events: all;
      
    }
  }

  &.hide{
    @include mq($until: tablet) {
      transform: translateY(-$navbarHeight);
    }
    @include mq($from: tablet) {
      ul{
        transform: translateY(-$navbarHeight);
      }
    }
  }
  
  &.inverted{
    ul li a {
      color:$white;
    } 
  }
  .logo{
    flex: 1 1;
    img {
      height: 2rem;
    }
  }
}

.sub{
  position: fixed;
  top:0;
  right:0;
  width: 0;
  height: 100vh;
  z-index: 99;
  background-color: rgb(255, 255, 255);
  transition: opacity .3s ease;
  opacity: 0;
  pointer-events: none;
  
  @include mq($until: tablet) {
    display: none;
  }

  &.show {
    pointer-events: all;
    height: 100vh;
    opacity: 0.9;
  }
  .subPad{ 
    padding: 1rem;
    padding-top: 3rem;
    background-color: $white;
    max-height: 100vh;
    overflow-y: scroll;
    
    nav{
      
      ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        padding-top: 1rem;
        border-top: 1px solid $gray;
        a{
          line-height: 1rem;
          li{
            transition: color .3s;
            color:$gray;
            &:hover{
              color:$black;
            }
          }
        }
      }
    }
  }
}

